.outForm_pay{
    position: relative;
    width:1440px;
    height:470px;
    margin:0 auto;
}
.onForm{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    right: 10%;
    top: 10%;
}
.box{
    padding: 5px;
    width:145px;
    height:145px;
   
}
.box_on{
    margin: 0 auto;
    width:128px;
    height:128px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow:0px 0px  10px 10px rgba(230,242,248,0.5);
    text-align: center;
    cursor: pointer;
}
.box_on:hover{
    width:138px;
    height:138px;
}
.img-size {
    width: 96px;
    height: 96px;
}
.img-span{
    font-size: 12px;
    display: block;
    text-align: center;
    font-family: PingFangSCRegular;
    color: #464A4C;
}

