input,
button,
select,
textarea {
  outline: none;
}
.body {
  background: #f1f7ff;
}
.home_span_warn {
  position: absolute;
  bottom: -40px;
  left: 46px;
}
.homeButton {
  width: 68px;
  height: 114px;
  background: #cfe3ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outForm {
  position: relative;
  width: 1271px;
  background-size: cover;
  height: 470px;
  margin: 0 auto;
}
.outForm_pay {
  position: relative;
  width: 1500 px;
  height: 680px;
  margin: 0 auto;
  padding-top: 190px;
}
.outForm_pay_ningxia {
  position: relative;
  width: 1270px;
  height: 680px;
  margin: 0 auto;
  padding-top: 40px;
}
.outForm_pay_qingdao {
  position: relative;
  width: 100%;
  /* height: 600px; */
  /* background: url(../images/qingdao3.png) no-repeat center; */
  margin: 0 auto;
  background-size: cover;
}
.onForm {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 478px;
  right: 10%;
  top: 25%;
}
.onForm_pay {
  margin-left: 4px;
  width: 100%;
  height: 600px;
  background: #ffffff;
}
.onForm_pay_top {
  width: 100%;
  height: 67px;
  background: #f2f2f2;
  border-left: 3px solid #4cbae3;
}
.onForm_pay_top span {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #4cbae3;
  margin-left: 30px;
  line-height: 67px;
}
.topSpan_pay {
  font-size: 22px;
  color: #e22721;
  font-weight: bold;
}
.middle_pay {
  margin: 0 auto;
  display: flex;
  height: 533px;
}
.middle_pay_charge {
  margin: 0 auto;
  display: flex;
}
.middle_pay_left {
  display: inline-block;
  vertical-align: top;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle_pay_right {
  display: inline-block;
  vertical-align: top;
  flex: 1;
}
.middle_pay_right_org {
  background: rgba(255, 255, 255, 1);
  padding-top: 118px;
}
.middle_pay_right_org_e {
  background: rgba(255, 255, 255, 1);
}
.middle_pay_right_org_top {
  width: 68%;
  height: 70px;
  margin: 30px 40px;
  display: flex;
}
.classNotHover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #999999;
  border-bottom: 1px solid #999999;
  cursor: pointer;
}
.classHover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #2d5da6;
  border-bottom: 4px solid #2d5da6;
  cursor: pointer;
}

.middle_box {
  padding-top: 30px;
  width: 84%;
  margin: 0 auto;
}
.left_image {
  position: absolute;
  top: 15px;
  left: 4%;
  width: 190px;
  height: 304px;
  /*background: blue;*/
}
.box_top {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 164px;
  height: 50px;
  background: #3461b1;
  border-radius: 2px 2px 0px 0px;
  line-height: 50px;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  padding-left: 13px;
}
.box {
  cursor: pointer;
  margin-top: 2px;
  width: 164px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #666666;
  padding-left: 13px;
  border: 0px solid #3461b1;
  background: #f8f8f8;
}
.box_hover {
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  width: 164px;
  height: 50px;
  background: white;
  line-height: 50px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #3461b1;
  padding-left: 13px;
  border: 1px solid #3461b1;
}
.box_hover .logo {
  position: absolute;
  top: 13px;
  left: 0px;
  width: 4px;
  height: 23px;
  background: #3461b1;
}
.box_on {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 10px 10px rgba(230, 242, 248, 0.5);
  text-align: center;
  cursor: pointer;
}
.box_on:hover {
  width: 138px;
  height: 138px;
}
.img-size {
  width: 96px;
  height: 96px;
}
.img-span {
  font-size: 16px;
  display: block;
  text-align: center;
  font-family: PingFangSCRegular;
  color: #464a4c;
}

.span_pay_top {
  font-size: 20px;
  color: #ff9000;
  font-weight: bold;
  padding-left: 23px;
  padding-top: 16px;
}
.span_pay {
  font-size: 18px;
  padding: 20px;
}
.button_submit {
  width: 153px;
  height: 40px;
  /* background: #e22721 !important; */
}
.button_clear {
  margin-left: 20px;
  width: 153px;
  height: 40px;
  background: #f1f1f1 !important;
  color: #ffffff !important;
  border: 0px solid #ffffff !important;
}
.verificationCode {
  width: 100px;
  height: 37px;
  margin-left: 15px;
  margin-top: 2px;
}
p {
  margin-bottom: 4px !important;
}
.middle_payInfo {
  position: relative;
  width: 1190px;
  /* height: 430px; */
  padding-top: 20px;
  margin: 10px auto;
}
.bottom_payInfo {
  /* border: 1px solid #ccc; */
  width: 1104px;
  padding-top: 8px;
  margin: 10px auto;
  text-align: right;
}
.title_t {
  text-align: center;
  font-size: 18px;
}
.title-ti span {
  font-size: 12px;
  margin-left: 44px;
  color: black;
  text-decoration: none;
}
.form_f {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  width: 1105px;
  height: 250px;
  margin: 14px auto;
}
.url_button {
  width: 148px;
  height: 36px;
  border: 1px solid #375ea1;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #375ea1;
}
.url_button:nth-child(n + 2) {
  margin-left: 20px;
}
.url_button_clear {
  margin-left: 20px;
  width: 148px;
  height: 36px;
  border: 1px solid #375ea1;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #375ea1;
}
.row {
  height: 300px;
  text-align: center;
  background-color: white;
}
.row_p {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #2d5da6;
  text-align: center;
  margin-top: 30px;
}
.row_w {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2d5da6;
  text-align: center;
  margin-top: 30px;
}
.input_ningxia {
  border: 1px solid #cecece !important;
  height: 40px;
  border-radius: 0;
}
.input_ningxia_hover {
  border: 1px solid #2d5da6 !important;
  height: 40px;
  border-radius: 0;
}
.button_ningxia {
  width: 153px;
  border: 1px solid #2d5da6 !important;
  background: #2d5da6 !important;
}
.button_dianzi {
  color: white !important;
  border: 1px solid #2d5da6 !important;
  background: #2d5da6 !important;
  border-radius: 4px !important;
  width: 157px !important;
  height: 41px !important;
}
.input_icon {
  width: 40px;
  height: 40px;
  margin-left: -12px;
  background-color: #f1f1f1;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_icon_2 {
  background-color: #375ea1;
  border: 1px solid #375ea1;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_icon img {
  width: 23px;
  height: 23px;
}
.home_div {
  margin: 0 auto;
  width: 1490px;
  height: 340px;
  display: flex;
}
.home_div_LR {
  flex: 1;
  /* background-color: #e22721; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home_div_middle {
  flex: 12;
  max-width: 1285px;
  overflow: hidden;
}
.home_div_middle_nei {
  position: relative;
  width: 100%;
  height: 360px;
  display: flex;
  align-items: center;
}
@keyframes go_animation_1 {
  0% {
    left: 0px;
  }
  100% {
    left: -320px;
  }
}
@keyframes go_animation_2 {
  0% {
    left: -320px;
  }
  100% {
    left: -640px;
  }
}
.go_1 {
  left: -320px;
  animation-name: go_animation_1;
  animation-duration: 0.2s;
}
.go_2 {
  left: -640px;
  animation-name: go_animation_2;
  animation-duration: 0.2s;
}
@keyframes out_animation_1 {
  0% {
    left: -320px;
  }
  100% {
    left: 0px;
  }
}
@keyframes out_animation_2 {
  0% {
    left: -640px;
  }
  100% {
    left: -320px;
  }
}
.out_1 {
  left: 0px;
  animation-name: out_animation_1;
  animation-duration: 0.2s;
}
.out_2 {
  left: -320px;
  animation-name: out_animation_2;
  animation-duration: 0.2s;
}
.home_box {
  min-width: 300px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 3px 8px 0px rgba(78, 136, 255, 0.17);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.home_box img {
  width: 134px;
}
.home_box p {
  font-size: 19px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #464a4c;
  text-align: center;
}
.home_box:nth-child(n + 2) {
  margin-left: 20px;
}
.background-t {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(43, 95, 152, 0.56);
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  height: 20%;
  list-style-type: none;
}
li:hover {
  color: #ffc444;
  cursor: pointer;
}
.table {
  width: 95%;
  margin: 40px auto;
}
/*table样式*/
table.gridtable {
  width: 100%;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #9b9a9a;
  border-collapse: collapse;
}
table.gridtable th {
  font-size: 14px;
  text-align: center;
  border: 1px solid #c9c9c9;
  padding: 8px;
  border-style: solid;
  background-color: #f5faff;
}
table.gridtable td {
  font-size: 14px;
  text-align: center;
  color: #666666;
  border: 1px solid #c9c9c9;
  padding: 8px;
  border-style: solid;
}
table span {
  font-size: 14px;
  font-family: PingFang SC;
  color: #0090ff;
  cursor: pointer;
}
tr {
  height: 48px;
}
