<html lang="zh-CN">

<head>
    <include src="meta.html"></include>
    <title>
        <block name="title">博思致新</block>
    </title>
    <include src="m_common.html"></include>
    <block name="header"></block>
</head>

<body>
    <block name="content"></block>
    <block name="footer"></block>
    <block name="widget">
        <script src="https://appx/web-view.min.js"></script>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript"
            src="https://api.epayservice.cn/thirdpay/resources/widget/js/thirdpay_widget.js"></script>
        <script>

            $(".zhebg").click(function (event) {
                $(".zhebg").hide();
            })
        </script>
    </block>
</body>

</html>