<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <include src="meta.html"></include>
    <title>
        <block name="title">博思致新</block>
    </title>
    <block name="header"></block>
</head>

<body>
    <block name="content"></block>
    <block name="footer"></block>
    <block name="widget">

        <script type="text/javascript"
            src="https://api.epayservice.cn/thirdpay/resources/widget/js/thirdpay_widget.js"></script>
        <script>

            $(".zhebg").click(function (event) {
                $(".zhebg").hide();
            })
        </script>

    </block>
</body>

</html>