<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <include src="meta.html"></include>
    <title>
        <block name="title">博思致新</block>
    </title>
    <block name="header"></block>
</head>
<style>
    .tianjin {
        width: 100%;
        height: 137px;
        background: url(../120000_p/public/images/tianjing/tianjincaizheng.png) no-repeat;
        background-size: 100% 100%;
    }

    .copyRight {
        width: 100%;
        height: 140px;
        background-color: #1a6bc6;
        overflow: hidden
    }
</style>

<body>
    <block name="widget">
        <div class="tianjin">
        </div>
    </block>
    <block name="content"></block>
    <block name="footer"></block>
    <block name="widget">
        <div class="copyRight" align="center">
            <script language='javascript' src='../120000_p/public/images/tianjing/1502021953358989.js'></script>
        </div>
    </block>
</body>

</html>