<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <include src="meta.html"></include>
    <title>
        <block name="title">博思致新</block>
    </title>
    <block name="header"></block>
</head>

<body>
    <block name="content"></block>
    <block name="footer"></block>
    <block name="widget">

        <!--测试环境，新疆本地不需要-->
        <link href="http://csmh.xjbt.cn/r/cms/xinjiangNew/css/public.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://csmh.xjbt.cn/r/cms/xinjiangNew/js/xj_top_bottom.js">
        </script>
        <!--生产环境-->
        <script src="//cdn.bootcdn.net/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- <link href="http://zwfw.xjbt.gov.cn/r/cms/xinjiangNew/css/public.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://zwfw.xjbt.gov.cn/r/cms/xinjiangNew/js/xj_top_bottom.js"></script> -->

        <script>
            $(function () {
                initTop();
                initBottom();
            });
        </script>

    </block>
</body>

</html>